@import "tailwindcss";

@keyframes gradientMove {
  0% { background-position:0% 50% }
  50% { background-position:100% 50% }
  100% { background-position:0% 50% }
}

.animate-gradientMove{
  animation: gradientMove 12s ease infinite;
}

/* Fix Chrome autofill white background */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #020617 inset !important;
  box-shadow: 0 0 0px 1000px #020617 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}

